<h2>Your Favorite Gifs</h2>

<% @favorites.each do |favorite| %>
  <div id="f-gif-<%=favorite.id%>">
    <p><%= favorite.gif.category.title %></p>
    <p><%= favorite.gif.gif_url %></p>
    <%= link_to 'Remove', user_favorite_path(@user, favorite.id), method: 'delete' %>
  </div>
<% end %>
<br>
<br>
<%= link_to 'All Gifs', gifs_path %>
