<h2 class='heading'>All Gifs</h2>

<% if current_user %>
<div class='gif-page'>
  <%= form_tag user_favorites_path(session[:user_id]) do %>
    <% @gifs.each do |gif| %>
      <div id="gif-<%=gif.id%>" class='gif-box centered'>
        <h4><%= gif.category.title.capitalize %></h4>
        <p><img src=<%=gif.gif_url%>></p>
          <p>
            <%= label_tag('Favorite') %>
            <%= check_box_tag('favorites[]', gif.id) %>
          </p>
          <br>
      </div>
    <% end %>
    <%= submit_tag 'Save Favorites'%>
  <% end %>
</div>
<% else %>
<div class='gif-page'>
  <% @gifs.each do |gif| %>
    <div id="gif-<%=gif.id%>%" class='gif-box centered'>
      <h4><%= gif.category.title.capitalize %></h4>
      <p><img src=<%=gif.gif_url%>></p>
      <br>
    </div>
  <% end %>
</div>
<% end %>
