<h2>All Gifs</h2>

<% if current_user %>
  <%= form_tag user_favorites_path(session[:user_id]) do %>
    <% @gifs.each do |gif| %>
      <div id="gif-<%=gif.id%>">
        <p><%= gif.category.title %></p>
        <p><%= gif.gif_url %></p>
          <p>
            <%= label_tag('Favorite') %>
            <%= check_box_tag('favorites[]', gif.id) %>
          </p>
          <br>
      </div>
    <% end %>
    <%= submit_tag 'Save Favorites'%>
  <% end %>
<% else %>
  <% @gifs.each do |gif| %>
    <div id="gif-<%=gif.id%>%">
      <p><%= gif.category.title %></p>
      <p><%= gif.gif_url %></p>
      <br>
    </div>
    <% end %>
<% end %>