<!DOCTYPE html>
<html>
  <head>
    <title>GifGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <% if current_admin? %>
        <div id='nav-left'>
          <%= link_to 'Home', user_path(current_user) %>
          <%= link_to 'All Gifs', gifs_path %>
          <%= link_to 'Favorites', user_favorites_path(current_user) %>
          <%= link_to 'Categories', admin_categories_path %>
        </div>
        <div id='nav-right'>
          <%= link_to 'Log Out', logout_path, method: 'delete' %>
        </div>
      <% elsif current_user %>
        <div id='nav-left'>
          <%= link_to 'Home', user_path(current_user) %>
          <%= link_to 'All Gifs', gifs_path %>
          <%= link_to 'Favorites', user_favorites_path(current_user) %>
        </div>
        <div id='nav-right'>
          <%= link_to 'Log Out', logout_path, method: 'delete' %>
        </div>
      <% else %>
        <div id='nav-left'>
          <%= link_to 'All Gifs', gifs_path %>
        </div>
        <div id='nav-right'>
          <%= link_to 'Dashboard', root_path %>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
